<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Glyphicons</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div w3-include-html="/nav.html"></div>
            <div class="page-header">
                <h1>Bootstrap Reference - Glyphicons</h1>
            </div>

            <div class="page-header">
                <h2>Glyphicons</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Glyphicon Class</h3>
                    <p>Bootstrap includes 260 glyphs from the Glyphicon Halflings set</p>
                    <p>The <code>.glyphicon</code> class is added to span, along with a <code>.glyphicon-<em>name</em></code> class: </p>
                    <code>&lt;span class="glyphicon glyphicon-info-sign"&gt;&lt;/span&gt;</code>
                </div>
                <div class="col-sm-6">
                    <h3>Glyphicon Examples</h3>
                    <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
                    <p>Search icon as a link:
                        <a href="#">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </p>

                    <p>Search icon on a styled button:
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-dashboard"></span> Search
                        </button>
                    </p>
                </div>
            </div>

            <h3>Available Glyphs</h3>
            <div class="row">
                <div class="col-sm-4"><code>.glyphicon-adjust</code>:  <span class="glyphicon glyphicon-adjust"></span></div>
                <div class="col-sm-4"><code>.glyphicon-alert</code>:  <span class="glyphicon glyphicon-alert"></span></div>
                <div class="col-sm-4"><code>.glyphicon-align-center</code>:  <span class="glyphicon glyphicon-align-center"></span></div>
                <div class="col-sm-4"><code>.glyphicon-align-justify</code>:  <span class="glyphicon glyphicon-align-justify"></span></div>
                <div class="col-sm-4"><code>.glyphicon-align-left</code>:  <span class="glyphicon glyphicon-align-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-align-right</code>:  <span class="glyphicon glyphicon-align-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-apple</code>:  <span class="glyphicon glyphicon-apple"></span></div>
                <div class="col-sm-4"><code>.glyphicon-arrow-down</code>:  <span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-arrow-left</code>:  <span class="glyphicon glyphicon-arrow-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-arrow-right</code>:  <span class="glyphicon glyphicon-arrow-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-arrow-up</code>:  <span class="glyphicon glyphicon-arrow-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-asterisk</code>:  <span class="glyphicon glyphicon-asterisk"></span></div>
                <div class="col-sm-4"><code>.glyphicon-baby-formula</code>:  <span class="glyphicon glyphicon-baby-formula"></span></div>
                <div class="col-sm-4"><code>.glyphicon-backward</code>:  <span class="glyphicon glyphicon-backward"></span></div>
                <div class="col-sm-4"><code>.glyphicon-ban-circle</code>:  <span class="glyphicon glyphicon-ban-circle"></span></div>
                <div class="col-sm-4"><code>.glyphicon-barcode</code>:  <span class="glyphicon glyphicon-barcode"></span></div>
                <div class="col-sm-4"><code>.glyphicon-bed</code>:  <span class="glyphicon glyphicon-bed"></span></div>
                <div class="col-sm-4"><code>.glyphicon-bell</code>:  <span class="glyphicon glyphicon-bell"></span></div>
                <div class="col-sm-4"><code>.glyphicon-bishop</code>:  <span class="glyphicon glyphicon-bishop"></span></div>
                <div class="col-sm-4"><code>.glyphicon-bitcoin</code>:  <span class="glyphicon glyphicon-bitcoin"></span></div>
                <div class="col-sm-4"><code>.glyphicon-blackboard</code>:  <span class="glyphicon glyphicon-blackboard"></span></div>
                <div class="col-sm-4"><code>.glyphicon-bold</code>:  <span class="glyphicon glyphicon-bold"></span></div>
                <div class="col-sm-4"><code>.glyphicon-book</code>:  <span class="glyphicon glyphicon-book"></span></div>
                <div class="col-sm-4"><code>.glyphicon-bookmark</code>:  <span class="glyphicon glyphicon-bookmark"></span></div>
                <div class="col-sm-4"><code>.glyphicon-briefcase</code>:  <span class="glyphicon glyphicon-briefcase"></span></div>
                <div class="col-sm-4"><code>.glyphicon-bullhorn</code>:  <span class="glyphicon glyphicon-bullhorn"></span></div>
                <div class="col-sm-4"><code>.glyphicon-calendar</code>:  <span class="glyphicon glyphicon-calendar"></span></div>
                <div class="col-sm-4"><code>.glyphicon-camera</code>:  <span class="glyphicon glyphicon-camera"></span></div>
                <div class="col-sm-4"><code>.glyphicon-cd</code>:  <span class="glyphicon glyphicon-cd"></span></div>
                <div class="col-sm-4"><code>.glyphicon-certificate</code>:  <span class="glyphicon glyphicon-certificate"></span></div>
                <div class="col-sm-4"><code>.glyphicon-check</code>:  <span class="glyphicon glyphicon-check"></span></div>
                <div class="col-sm-4"><code>.glyphicon-chevron-down</code>:  <span class="glyphicon glyphicon-chevron-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-chevron-left</code>:  <span class="glyphicon glyphicon-chevron-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-chevron-right</code>:  <span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-chevron-up</code>:  <span class="glyphicon glyphicon-chevron-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-circle-arrow-down</code>:  <span class="glyphicon glyphicon-circle-arrow-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-circle-arrow-left</code>:  <span class="glyphicon glyphicon-circle-arrow-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-circle-arrow-right</code>:  <span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-circle-arrow-up</code>:  <span class="glyphicon glyphicon-circle-arrow-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-cloud</code>:  <span class="glyphicon glyphicon-cloud"></span></div>
                <div class="col-sm-4"><code>.glyphicon-cloud-download</code>:  <span class="glyphicon glyphicon-cloud-download"></span></div>
                <div class="col-sm-4"><code>.glyphicon-cloud-upload</code>:  <span class="glyphicon glyphicon-cloud-upload"></span></div>
                <div class="col-sm-4"><code>.glyphicon-cog</code>:  <span class="glyphicon glyphicon-cog"></span></div>
                <div class="col-sm-4"><code>.glyphicon-collapse-down</code>:  <span class="glyphicon glyphicon-collapse-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-collapse-up</code>:  <span class="glyphicon glyphicon-collapse-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-comment</code>:  <span class="glyphicon glyphicon-comment"></span></div>
                <div class="col-sm-4"><code>.glyphicon-compressed</code>:  <span class="glyphicon glyphicon-compressed"></span></div>
                <div class="col-sm-4"><code>.glyphicon-copy</code>:  <span class="glyphicon glyphicon-copy"></span></div>
                <div class="col-sm-4"><code>.glyphicon-copyright-mark</code>:  <span class="glyphicon glyphicon-copyright-mark"></span></div>
                <div class="col-sm-4"><code>.glyphicon-credit-card</code>:  <span class="glyphicon glyphicon-credit-card"></span></div>
                <div class="col-sm-4"><code>.glyphicon-cutlery</code>:  <span class="glyphicon glyphicon-cutlery"></span></div>
                <div class="col-sm-4"><code>.glyphicon-dashboard</code>:  <span class="glyphicon glyphicon-dashboard"></span></div>
                <div class="col-sm-4"><code>.glyphicon-download</code>:  <span class="glyphicon glyphicon-download"></span></div>
                <div class="col-sm-4"><code>.glyphicon-download-alt</code>:  <span class="glyphicon glyphicon-download-alt"></span></div>
                <div class="col-sm-4"><code>.glyphicon-duplicate</code>:  <span class="glyphicon glyphicon-duplicate"></span></div>
                <div class="col-sm-4"><code>.glyphicon-earphone</code>:  <span class="glyphicon glyphicon-earphone"></span></div>
                <div class="col-sm-4"><code>.glyphicon-edit</code>:  <span class="glyphicon glyphicon-edit"></span></div>
                <div class="col-sm-4"><code>.glyphicon-education</code>:  <span class="glyphicon glyphicon-education"></span></div>
                <div class="col-sm-4"><code>.glyphicon-eject</code>:  <span class="glyphicon glyphicon-eject"></span></div>
                <div class="col-sm-4"><code>.glyphicon-envelope</code>:  <span class="glyphicon glyphicon-envelope"></span></div>
                <div class="col-sm-4"><code>.glyphicon-equalizer</code>:  <span class="glyphicon glyphicon-equalizer"></span></div>
                <div class="col-sm-4"><code>.glyphicon-erase</code>:  <span class="glyphicon glyphicon-erase"></span></div>
                <div class="col-sm-4"><code>.glyphicon-euro</code>:  <span class="glyphicon glyphicon-euro"></span></div>
                <div class="col-sm-4"><code>.glyphicon-exclamation-sign</code>:  <span class="glyphicon glyphicon-exclamation-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-expand</code>:  <span class="glyphicon glyphicon-expand"></span></div>
                <div class="col-sm-4"><code>.glyphicon-export</code>:  <span class="glyphicon glyphicon-export"></span></div>
                <div class="col-sm-4"><code>.glyphicon-eye-close</code>:  <span class="glyphicon glyphicon-eye-close"></span></div>
                <div class="col-sm-4"><code>.glyphicon-eye-open</code>:  <span class="glyphicon glyphicon-eye-open"></span></div>
                <div class="col-sm-4"><code>.glyphicon-facetime-video</code>:  <span class="glyphicon glyphicon-facetime-video"></span></div>
                <div class="col-sm-4"><code>.glyphicon-fast-backward</code>:  <span class="glyphicon glyphicon-fast-backward"></span></div>
                <div class="col-sm-4"><code>.glyphicon-fast-forward</code>:  <span class="glyphicon glyphicon-fast-forward"></span></div>
                <div class="col-sm-4"><code>.glyphicon-file</code>:  <span class="glyphicon glyphicon-file"></span></div>
                <div class="col-sm-4"><code>.glyphicon-film</code>:  <span class="glyphicon glyphicon-film"></span></div>
                <div class="col-sm-4"><code>.glyphicon-filter</code>:  <span class="glyphicon glyphicon-filter"></span></div>
                <div class="col-sm-4"><code>.glyphicon-fire</code>:  <span class="glyphicon glyphicon-fire"></span></div>
                <div class="col-sm-4"><code>.glyphicon-flag</code>:  <span class="glyphicon glyphicon-flag"></span></div>
                <div class="col-sm-4"><code>.glyphicon-flash</code>:  <span class="glyphicon glyphicon-flash"></span></div>
                <div class="col-sm-4"><code>.glyphicon-floppy-disk</code>:  <span class="glyphicon glyphicon-floppy-disk"></span></div>
                <div class="col-sm-4"><code>.glyphicon-floppy-open</code>:  <span class="glyphicon glyphicon-floppy-open"></span></div>
                <div class="col-sm-4"><code>.glyphicon-floppy-remove</code>:  <span class="glyphicon glyphicon-floppy-remove"></span></div>
                <div class="col-sm-4"><code>.glyphicon-floppy-save</code>:  <span class="glyphicon glyphicon-floppy-save"></span></div>
                <div class="col-sm-4"><code>.glyphicon-floppy-saved</code>:  <span class="glyphicon glyphicon-floppy-saved"></span></div>
                <div class="col-sm-4"><code>.glyphicon-folder-close</code>:  <span class="glyphicon glyphicon-folder-close"></span></div>
                <div class="col-sm-4"><code>.glyphicon-folder-open</code>:  <span class="glyphicon glyphicon-folder-open"></span></div>
                <div class="col-sm-4"><code>.glyphicon-font</code>:  <span class="glyphicon glyphicon-font"></span></div>
                <div class="col-sm-4"><code>.glyphicon-forward</code>:  <span class="glyphicon glyphicon-forward"></span></div>
                <div class="col-sm-4"><code>.glyphicon-fullscreen</code>:  <span class="glyphicon glyphicon-fullscreen"></span></div>
                <div class="col-sm-4"><code>.glyphicon-gbp</code>:  <span class="glyphicon glyphicon-gbp"></span></div>
                <div class="col-sm-4"><code>.glyphicon-gift</code>:  <span class="glyphicon glyphicon-gift"></span></div>
                <div class="col-sm-4"><code>.glyphicon-glass</code>:  <span class="glyphicon glyphicon-glass"></span></div>
                <div class="col-sm-4"><code>.glyphicon-globe</code>:  <span class="glyphicon glyphicon-globe"></span></div>
                <div class="col-sm-4"><code>.glyphicon-grain</code>:  <span class="glyphicon glyphicon-grain"></span></div>
                <div class="col-sm-4"><code>.glyphicon-hand-down</code>:  <span class="glyphicon glyphicon-hand-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-hand-left</code>:  <span class="glyphicon glyphicon-hand-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-hand-right</code>:  <span class="glyphicon glyphicon-hand-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-hand-up</code>:  <span class="glyphicon glyphicon-hand-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-hd-video</code>:  <span class="glyphicon glyphicon-hd-video"></span></div>
                <div class="col-sm-4"><code>.glyphicon-hdd</code>:  <span class="glyphicon glyphicon-hdd"></span></div>
                <div class="col-sm-4"><code>.glyphicon-header</code>:  <span class="glyphicon glyphicon-header"></span></div>
                <div class="col-sm-4"><code>.glyphicon-headphones</code>:  <span class="glyphicon glyphicon-headphones"></span></div>
                <div class="col-sm-4"><code>.glyphicon-heart</code>:  <span class="glyphicon glyphicon-heart"></span></div>
                <div class="col-sm-4"><code>.glyphicon-heart-empty</code>:  <span class="glyphicon glyphicon-heart-empty"></span></div>
                <div class="col-sm-4"><code>.glyphicon-home</code>:  <span class="glyphicon glyphicon-home"></span></div>
                <div class="col-sm-4"><code>.glyphicon-hourglass</code>:  <span class="glyphicon glyphicon-hourglass"></span></div>
                <div class="col-sm-4"><code>.glyphicon-ice-lolly</code>:  <span class="glyphicon glyphicon-ice-lolly"></span></div>
                <div class="col-sm-4"><code>.glyphicon-ice-lolly-tasted</code>:  <span class="glyphicon glyphicon-ice-lolly-tasted"></span></div>
                <div class="col-sm-4"><code>.glyphicon-import</code>:  <span class="glyphicon glyphicon-import"></span></div>
                <div class="col-sm-4"><code>.glyphicon-inbox</code>:  <span class="glyphicon glyphicon-inbox"></span></div>
                <div class="col-sm-4"><code>.glyphicon-indent-left</code>:  <span class="glyphicon glyphicon-indent-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-indent-right</code>:  <span class="glyphicon glyphicon-indent-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-info-sign</code>:  <span class="glyphicon glyphicon-info-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-italic</code>:  <span class="glyphicon glyphicon-italic"></span></div>
                <div class="col-sm-4"><code>.glyphicon-king</code>:  <span class="glyphicon glyphicon-king"></span></div>
                <div class="col-sm-4"><code>.glyphicon-knight</code>:  <span class="glyphicon glyphicon-knight"></span></div>
                <div class="col-sm-4"><code>.glyphicon-lamp</code>:  <span class="glyphicon glyphicon-lamp"></span></div>
                <div class="col-sm-4"><code>.glyphicon-leaf</code>:  <span class="glyphicon glyphicon-leaf"></span></div>
                <div class="col-sm-4"><code>.glyphicon-level-up</code>:  <span class="glyphicon glyphicon-level-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-link</code>:  <span class="glyphicon glyphicon-link"></span></div>
                <div class="col-sm-4"><code>.glyphicon-list</code>:  <span class="glyphicon glyphicon-list"></span></div>
                <div class="col-sm-4"><code>.glyphicon-list-alt</code>:  <span class="glyphicon glyphicon-list-alt"></span></div>
                <div class="col-sm-4"><code>.glyphicon-lock</code>:  <span class="glyphicon glyphicon-lock"></span></div>
                <div class="col-sm-4"><code>.glyphicon-log-in</code>:  <span class="glyphicon glyphicon-log-in"></span></div>
                <div class="col-sm-4"><code>.glyphicon-log-out</code>:  <span class="glyphicon glyphicon-log-out"></span></div>
                <div class="col-sm-4"><code>.glyphicon-magnet</code>:  <span class="glyphicon glyphicon-magnet"></span></div>
                <div class="col-sm-4"><code>.glyphicon-map-marker</code>:  <span class="glyphicon glyphicon-map-marker"></span></div>
                <div class="col-sm-4"><code>.glyphicon-menu-down</code>:  <span class="glyphicon glyphicon-menu-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-menu-hamburger</code>:  <span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <div class="col-sm-4"><code>.glyphicon-menu-left</code>:  <span class="glyphicon glyphicon-menu-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-menu-right</code>:  <span class="glyphicon glyphicon-menu-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-menu-up</code>:  <span class="glyphicon glyphicon-menu-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-minus</code>:  <span class="glyphicon glyphicon-minus"></span></div>
                <div class="col-sm-4"><code>.glyphicon-minus-sign</code>:  <span class="glyphicon glyphicon-minus-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-modal-window</code>:  <span class="glyphicon glyphicon-modal-window"></span></div>
                <div class="col-sm-4"><code>.glyphicon-move</code>:  <span class="glyphicon glyphicon-move"></span></div>
                <div class="col-sm-4"><code>.glyphicon-music</code>:  <span class="glyphicon glyphicon-music"></span></div>
                <div class="col-sm-4"><code>.glyphicon-new-window</code>:  <span class="glyphicon glyphicon-new-window"></span></div>
                <div class="col-sm-4"><code>.glyphicon-object-align-bottom</code>:  <span class="glyphicon glyphicon-object-align-bottom"></span></div>
                <div class="col-sm-4"><code>.glyphicon-object-align-horizontal</code>:  <span class="glyphicon glyphicon-object-align-horizontal"></span></div>
                <div class="col-sm-4"><code>.glyphicon-object-align-left</code>:  <span class="glyphicon glyphicon-object-align-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-object-align-right</code>:  <span class="glyphicon glyphicon-object-align-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-object-align-top</code>:  <span class="glyphicon glyphicon-object-align-top"></span></div>
                <div class="col-sm-4"><code>.glyphicon-object-align-vertical</code>:  <span class="glyphicon glyphicon-object-align-vertical"></span></div>
                <div class="col-sm-4"><code>.glyphicon-off</code>:  <span class="glyphicon glyphicon-off"></span></div>
                <div class="col-sm-4"><code>.glyphicon-oil</code>:  <span class="glyphicon glyphicon-oil"></span></div>
                <div class="col-sm-4"><code>.glyphicon-ok</code>:  <span class="glyphicon glyphicon-ok"></span></div>
                <div class="col-sm-4"><code>.glyphicon-ok-circle</code>:  <span class="glyphicon glyphicon-ok-circle"></span></div>
                <div class="col-sm-4"><code>.glyphicon-ok-sign</code>:  <span class="glyphicon glyphicon-ok-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-open</code>:  <span class="glyphicon glyphicon-open"></span></div>
                <div class="col-sm-4"><code>.glyphicon-open-file</code>:  <span class="glyphicon glyphicon-open-file"></span></div>
                <div class="col-sm-4"><code>.glyphicon-option-horizontal</code>:  <span class="glyphicon glyphicon-option-horizontal"></span></div>
                <div class="col-sm-4"><code>.glyphicon-option-vertical</code>:  <span class="glyphicon glyphicon-option-vertical"></span></div>
                <div class="col-sm-4"><code>.glyphicon-paperclip</code>:  <span class="glyphicon glyphicon-paperclip"></span></div>
                <div class="col-sm-4"><code>.glyphicon-paste</code>:  <span class="glyphicon glyphicon-paste"></span></div>
                <div class="col-sm-4"><code>.glyphicon-pause</code>:  <span class="glyphicon glyphicon-pause"></span></div>
                <div class="col-sm-4"><code>.glyphicon-pawn</code>:  <span class="glyphicon glyphicon-pawn"></span></div>
                <div class="col-sm-4"><code>.glyphicon-pencil</code>:  <span class="glyphicon glyphicon-pencil"></span></div>
                <div class="col-sm-4"><code>.glyphicon-phone</code>:  <span class="glyphicon glyphicon-phone"></span></div>
                <div class="col-sm-4"><code>.glyphicon-phone-alt</code>:  <span class="glyphicon glyphicon-phone-alt"></span></div>
                <div class="col-sm-4"><code>.glyphicon-picture</code>:  <span class="glyphicon glyphicon-picture"></span></div>
                <div class="col-sm-4"><code>.glyphicon-piggy-bank</code>:  <span class="glyphicon glyphicon-piggy-bank"></span></div>
                <div class="col-sm-4"><code>.glyphicon-plane</code>:  <span class="glyphicon glyphicon-plane"></span></div>
                <div class="col-sm-4"><code>.glyphicon-play</code>:  <span class="glyphicon glyphicon-play"></span></div>
                <div class="col-sm-4"><code>.glyphicon-play-circle</code>:  <span class="glyphicon glyphicon-play-circle"></span></div>
                <div class="col-sm-4"><code>.glyphicon-plus</code>:  <span class="glyphicon glyphicon-plus"></span></div>
                <div class="col-sm-4"><code>.glyphicon-plus-sign</code>:  <span class="glyphicon glyphicon-plus-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-print</code>:  <span class="glyphicon glyphicon-print"></span></div>
                <div class="col-sm-4"><code>.glyphicon-pushpin</code>:  <span class="glyphicon glyphicon-pushpin"></span></div>
                <div class="col-sm-4"><code>.glyphicon-qrcode</code>:  <span class="glyphicon glyphicon-qrcode"></span></div>
                <div class="col-sm-4"><code>.glyphicon-queen</code>:  <span class="glyphicon glyphicon-queen"></span></div>
                <div class="col-sm-4"><code>.glyphicon-question-sign</code>:  <span class="glyphicon glyphicon-question-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-random</code>:  <span class="glyphicon glyphicon-random"></span></div>
                <div class="col-sm-4"><code>.glyphicon-record</code>:  <span class="glyphicon glyphicon-record"></span></div>
                <div class="col-sm-4"><code>.glyphicon-refresh</code>:  <span class="glyphicon glyphicon-refresh"></span></div>
                <div class="col-sm-4"><code>.glyphicon-registration-mark</code>:  <span class="glyphicon glyphicon-registration-mark"></span></div>
                <div class="col-sm-4"><code>.glyphicon-remove</code>:  <span class="glyphicon glyphicon-remove"></span></div>
                <div class="col-sm-4"><code>.glyphicon-remove-circle</code>:  <span class="glyphicon glyphicon-remove-circle"></span></div>
                <div class="col-sm-4"><code>.glyphicon-remove-sign</code>:  <span class="glyphicon glyphicon-remove-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-repeat</code>:  <span class="glyphicon glyphicon-repeat"></span></div>
                <div class="col-sm-4"><code>.glyphicon-resize-full</code>:  <span class="glyphicon glyphicon-resize-full"></span></div>
                <div class="col-sm-4"><code>.glyphicon-resize-horizontal</code>:  <span class="glyphicon glyphicon-resize-horizontal"></span></div>
                <div class="col-sm-4"><code>.glyphicon-resize-small</code>:  <span class="glyphicon glyphicon-resize-small"></span></div>
                <div class="col-sm-4"><code>.glyphicon-resize-vertical</code>:  <span class="glyphicon glyphicon-resize-vertical"></span></div>
                <div class="col-sm-4"><code>.glyphicon-retweet</code>:  <span class="glyphicon glyphicon-retweet"></span></div>
                <div class="col-sm-4"><code>.glyphicon-road</code>:  <span class="glyphicon glyphicon-road"></span></div>
                <div class="col-sm-4"><code>.glyphicon-ruble</code>:  <span class="glyphicon glyphicon-ruble"></span></div>
                <div class="col-sm-4"><code>.glyphicon-save</code>:  <span class="glyphicon glyphicon-save"></span></div>
                <div class="col-sm-4"><code>.glyphicon-save-file</code>:  <span class="glyphicon glyphicon-save-file"></span></div>
                <div class="col-sm-4"><code>.glyphicon-saved</code>:  <span class="glyphicon glyphicon-saved"></span></div>
                <div class="col-sm-4"><code>.glyphicon-scale</code>:  <span class="glyphicon glyphicon-scale"></span></div>
                <div class="col-sm-4"><code>.glyphicon-scissors</code>:  <span class="glyphicon glyphicon-scissors"></span></div>
                <div class="col-sm-4"><code>.glyphicon-screenshot</code>:  <span class="glyphicon glyphicon-screenshot"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sd-video</code>:  <span class="glyphicon glyphicon-sd-video"></span></div>
                <div class="col-sm-4"><code>.glyphicon-search</code>:  <span class="glyphicon glyphicon-search"></span></div>
                <div class="col-sm-4"><code>.glyphicon-send</code>:  <span class="glyphicon glyphicon-send"></span></div>
                <div class="col-sm-4"><code>.glyphicon-share</code>:  <span class="glyphicon glyphicon-share"></span></div>
                <div class="col-sm-4"><code>.glyphicon-share-alt</code>:  <span class="glyphicon glyphicon-share-alt"></span></div>
                <div class="col-sm-4"><code>.glyphicon-shopping-cart</code>:  <span class="glyphicon glyphicon-shopping-cart"></span></div>
                <div class="col-sm-4"><code>.glyphicon-signal</code>:  <span class="glyphicon glyphicon-signal"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sort</code>:  <span class="glyphicon glyphicon-sort"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sort-by-alphabet</code>:  <span class="glyphicon glyphicon-sort-by-alphabet"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sort-by-alphabet-alt</code>:  <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sort-by-attributes</code>:  <span class="glyphicon glyphicon-sort-by-attributes"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sort-by-attributes-alt</code>:  <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sort-by-order</code>:  <span class="glyphicon glyphicon-sort-by-order"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sort-by-order-alt</code>:  <span class="glyphicon glyphicon-sort-by-order-alt"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sound-5-1</code>:  <span class="glyphicon glyphicon-sound-5-1"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sound-6-1</code>:  <span class="glyphicon glyphicon-sound-6-1"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sound-7-1</code>:  <span class="glyphicon glyphicon-sound-7-1"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sound-dolby</code>:  <span class="glyphicon glyphicon-sound-dolby"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sound-stereo</code>:  <span class="glyphicon glyphicon-sound-stereo"></span></div>
                <div class="col-sm-4"><code>.glyphicon-star</code>:  <span class="glyphicon glyphicon-star"></span></div>
                <div class="col-sm-4"><code>.glyphicon-star-empty</code>:  <span class="glyphicon glyphicon-star-empty"></span></div>
                <div class="col-sm-4"><code>.glyphicon-stats</code>:  <span class="glyphicon glyphicon-stats"></span></div>
                <div class="col-sm-4"><code>.glyphicon-step-backward</code>:  <span class="glyphicon glyphicon-step-backward"></span></div>
                <div class="col-sm-4"><code>.glyphicon-step-forward</code>:  <span class="glyphicon glyphicon-step-forward"></span></div>
                <div class="col-sm-4"><code>.glyphicon-stop</code>:  <span class="glyphicon glyphicon-stop"></span></div>
                <div class="col-sm-4"><code>.glyphicon-subscript</code>:  <span class="glyphicon glyphicon-subscript"></span></div>
                <div class="col-sm-4"><code>.glyphicon-subtitles</code>:  <span class="glyphicon glyphicon-subtitles"></span></div>
                <div class="col-sm-4"><code>.glyphicon-sunglasses</code>:  <span class="glyphicon glyphicon-sunglasses"></span></div>
                <div class="col-sm-4"><code>.glyphicon-superscript</code>:  <span class="glyphicon glyphicon-superscript"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tag</code>:  <span class="glyphicon glyphicon-tag"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tags</code>:  <span class="glyphicon glyphicon-tags"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tasks</code>:  <span class="glyphicon glyphicon-tasks"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tent</code>:  <span class="glyphicon glyphicon-tent"></span></div>
                <div class="col-sm-4"><code>.glyphicon-text-background</code>:  <span class="glyphicon glyphicon-text-background"></span></div>
                <div class="col-sm-4"><code>.glyphicon-text-color</code>:  <span class="glyphicon glyphicon-text-color"></span></div>
                <div class="col-sm-4"><code>.glyphicon-text-height</code>:  <span class="glyphicon glyphicon-text-height"></span></div>
                <div class="col-sm-4"><code>.glyphicon-text-size</code>:  <span class="glyphicon glyphicon-text-size"></span></div>
                <div class="col-sm-4"><code>.glyphicon-text-width</code>:  <span class="glyphicon glyphicon-text-width"></span></div>
                <div class="col-sm-4"><code>.glyphicon-th</code>:  <span class="glyphicon glyphicon-th"></span></div>
                <div class="col-sm-4"><code>.glyphicon-th-large</code>:  <span class="glyphicon glyphicon-th-large"></span></div>
                <div class="col-sm-4"><code>.glyphicon-th-list</code>:  <span class="glyphicon glyphicon-th-list"></span></div>
                <div class="col-sm-4"><code>.glyphicon-thumbs-down</code>:  <span class="glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-thumbs-up</code>:  <span class="glyphicon glyphicon-thumbs-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-time</code>:  <span class="glyphicon glyphicon-time"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tint</code>:  <span class="glyphicon glyphicon-tint"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tower</code>:  <span class="glyphicon glyphicon-tower"></span></div>
                <div class="col-sm-4"><code>.glyphicon-transfer</code>:  <span class="glyphicon glyphicon-transfer"></span></div>
                <div class="col-sm-4"><code>.glyphicon-trash</code>:  <span class="glyphicon glyphicon-trash"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tree-conifer</code>:  <span class="glyphicon glyphicon-tree-conifer"></span></div>
                <div class="col-sm-4"><code>.glyphicon-tree-deciduous</code>:  <span class="glyphicon glyphicon-tree-deciduous"></span></div>
                <div class="col-sm-4"><code>.glyphicon-triangle-bottom</code>:  <span class="glyphicon glyphicon-triangle-bottom"></span></div>
                <div class="col-sm-4"><code>.glyphicon-triangle-left</code>:  <span class="glyphicon glyphicon-triangle-left"></span></div>
                <div class="col-sm-4"><code>.glyphicon-triangle-right</code>:  <span class="glyphicon glyphicon-triangle-right"></span></div>
                <div class="col-sm-4"><code>.glyphicon-triangle-top</code>:  <span class="glyphicon glyphicon-triangle-top"></span></div>
                <div class="col-sm-4"><code>.glyphicon-unchecked</code>:  <span class="glyphicon glyphicon-unchecked"></span></div>
                <div class="col-sm-4"><code>.glyphicon-upload</code>:  <span class="glyphicon glyphicon-upload"></span></div>
                <div class="col-sm-4"><code>.glyphicon-usd</code>:  <span class="glyphicon glyphicon-usd"></span></div>
                <div class="col-sm-4"><code>.glyphicon-user</code>:  <span class="glyphicon glyphicon-user"></span></div>
                <div class="col-sm-4"><code>.glyphicon-volume-down</code>:  <span class="glyphicon glyphicon-volume-down"></span></div>
                <div class="col-sm-4"><code>.glyphicon-volume-off</code>:  <span class="glyphicon glyphicon-volume-off"></span></div>
                <div class="col-sm-4"><code>.glyphicon-volume-up</code>:  <span class="glyphicon glyphicon-volume-up"></span></div>
                <div class="col-sm-4"><code>.glyphicon-warning-sign</code>:  <span class="glyphicon glyphicon-warning-sign"></span></div>
                <div class="col-sm-4"><code>.glyphicon-wrench</code>:  <span class="glyphicon glyphicon-wrench"></span></div>
                <div class="col-sm-4"><code>.glyphicon-yen</code>:  <span class="glyphicon glyphicon-yen"></span></div>
                <div class="col-sm-4"><code>.glyphicon-zoom-in</code>:  <span class="glyphicon glyphicon-zoom-in"></span></div>
                <div class="col-sm-4"><code>.glyphicon-zoom-out</code>:  <span class="glyphicon glyphicon-zoom-out"></span></div>
            </div>
         </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://www.w3schools.com/lib/w3data.js"></script>
        <script>w3IncludeHTML();</script>
    </body>
</html>
