<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Grid System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div w3-include-html="/nav.html"></div>
            <div class="page-header">
                <h1>Bootstrap Reference - Grid System</h1>
            </div>

            <div class="page-header">
                <h2>Bootstrap Grid System</h2>
                <p>Bootstrap's grid system is responsive, so columns will re-arrange themselves depending on the screen size.</p>
                <p>Bootstrap's grid system allows up to 12 columns across the page. Columns can be grouped together to create wider columns.</p>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                              <td>span 1</td>
                            </tr>
                            <tr>
                              <td colspan="4">&nbsp;span 4</td>
                              <td colspan="4">&nbsp;span 4</td>
                              <td colspan="4">&nbsp;span 4</td>
                            </tr>
                            <tr>
                              <td colspan="4">span 4</td>
                              <td colspan="8">span 8</td>
                            </tr>
                            <tr>
                              <td colspan="6">span 6</td>
                              <td colspan="6">span 6</td>
                            </tr>
                            <tr>
                              <td colspan="12">span 12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <h3>Grid Classes</h3>
            <p>The Bootstrap grid system has four classes that can be combined to create flexible layouts: </p>

            <ul>
                <li><code>.col-xs-*</code> for phones &lt; 768 px (container width = auto)</li>
                <li><code>.col-sm-*</code> for tablets &gt;= 768 px (container width = 750 px)</li>
                <li><code>.col-md-*</code> for desktops &gt;= 992 px (container width = 970 px)</li>
                <li><code>.col-lg-*</code> for larger desktops &gt;= 1200 px (container width = 1170 px)</li>
            </ul>

            <p>Each class scales up, so if the widths for xs and sm are the same, you only need to specify xs. </p>

            <h3>Basic Structure of a Bootstrap Grid</h3>
            <p>This is the basic structure of a Bootstrap grid.</p>
            <ul>
                <li>Create a div with <code>class="row"</code>.</li>
                <li>Add the desired number of divs for each column with <code>class = ".col-*-<em>num</em>"</code>.</li>
                <li>All of the numbers the <code>.col-*-<em>num</em></code> classes for each row should always add up to 12.</li>
            </ul>

            <p>This is the basic structure of a Bootstrap grid.</p>

            <p>
                &lt;div class="row"&gt;<br />
                    &nbsp;&nbsp;&lt;div class="col-*-*"&gt;&lt;/div&gt;<br />
                &lt;/div&gt;<br /><br/>

                &lt;div class="row"&gt;<br />
                    &nbsp;&nbsp;&lt;div class="col-*-*"&gt;&lt;/div&gt;<br />
                    &nbsp;&nbsp;&lt;div class="col-*-*"&gt;&lt;/div&gt;<br />
                    &nbsp;&nbsp;&lt;div class="col-*-*"&gt;&lt;/div&gt;<br />
                &lt;/div&gt;<br /><br/>

                &lt;div class="row"&gt;<br />
                    &nbsp;&nbsp;...<br />
                &lt;/div&gt;
            </p>

            <h3>Grid System Rules</h3>
            <p>Some Bootstrap grid system rules:</p>

            <ul>
                <li>Rows must be placed within a <code>.container</code> (fixed-width) or <code>.container-fluid</code> (full-width) for proper alignment and padding.</li>
                <li>Rows should contain horizontal groups of columns</li>
                <li>Content should be placed within columns, and only columns may be immediate children of rows</li>
                <li>Predefined classes like <code>.row</code> and <code>.col-sm-4</code> are available</li>
                <li>Columns create gutters between column content via padding. That padding is offset in rows for the first and last column via negative margin on rows</li>
                <li>Grid columns specify the number of 12 available columns to span. For example, three equal columns would use three <code>.col-sm-4</code></li>
            </ul>

            <h3>Grid Options</h3>
            <p>This table summarizes how the Bootstrap grids work across devices:</p>


            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width:22%;">&nbsp;</th>
                            <th style="width:19%;">Extra small devices<br>Phones (&lt;768px)</th>
                            <th style="width:20%;">Small devices<br>Tablets (&gt;=768px)</th>
                            <th style="width:21%;">Medium devices<br>Desktops (&gt;=992px)</th>
                            <th style="width:18%;">Large devices<br>Desktops (&gt;=1200px)</th>
                        </tr>
                        <tr>
                            <td><strong>Grid behaviour</strong></td>
                            <td>Horizontal at all times</td>
                            <td>Collapsed to start, horizontal above breakpoints</td>
                            <td>Collapsed to start, horizontal above breakpoints</td>
                            <td>Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <td><strong>Container width</strong></td>
                            <td>None (auto)</td>
                            <td>750px</td>
                            <td>970px</td>
                            <td>1170px</td>
                        </tr>
                        <tr>
                            <td><strong>Class prefix</strong></td>
                            <td>.col-xs-</td>
                            <td>.col-sm-</td>
                            <td>.col-md-</td>
                            <td>.col-lg-</td>
                        </tr>
                        <tr>
                            <td><strong>Number of columns</strong></td>
                            <td>12</td>
                            <td>12</td>
                            <td>12</td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td><strong>Column width</strong></td>
                            <td>Auto</td>
                            <td>~62px</td>
                            <td>~81px</td>
                            <td>~97px</td>
                          </tr>
                          <tr>
                            <td><strong>Gutter width</strong></td>
                            <td>30px (15px on each side of a column)</td>
                            <td>30px (15px on each side of a column)</td>
                            <td>30px (15px on each side of a column)</td>
                            <td>30px (15px on each side of a column)</td>
                        </tr>
                        <tr>
                            <td><strong>Nestable</strong></td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td><strong>Offsets</strong></td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td><strong>Column ordering</strong></td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                </table>
            </div>



         </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://www.w3schools.com/lib/w3data.js"></script>
        <script>w3IncludeHTML();</script>
    </body>
</html>
