<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap List Groups</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div w3-include-html="/nav.html"></div>
            <div class="page-header">
                <h1>Bootstrap Reference - List Groups</h1>
            </div>

            <div class="page-header">
                <h2>List Groups</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Basic List Groups</h3>
                    <p>The basic list group is used for dispalying an unordered list with list items. List items may be simple or complex.</p>
                    <p>To create a basic list group, use an <code>&lt;ul&gt;</code> element with class <code>.list-group</code>, and <code>&lt;li&gt;</code> elements with the <code>.list-group-item</code> class.</p>

                    <ul class="list-group">
                        <li class="list-group-item">First List Item</li>
                        <li class="list-group-item">Second List Item</li>
                        <li class="list-group-item">Third List Item</li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h3>List Groups with Badges</h3>
                    <p>Badges added to list items in a list group will automatically be positioned on the right.</p>

                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">12</span> First List Item</li>
                        <li class="list-group-item"><span class="badge">5</span> Second List Item</li>
                        <li class="list-group-item"><span class="badge">3</span> Third List Item</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>List Group With Linked Items</h3>
                    <p>Items in a list group can also be hyperlinks. This will add a grey background color on hover.</p>

                    <ul class="list-group">
                          <a href="#" class="list-group-item">First List Item</a>
                          <a href="#" class="list-group-item">Second List Item</a>
                          <a href="#" class="list-group-item">Third List Item</a>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h3>Active Item</h3>
                    <p>Use the <code>.active</code> class to highlight the current item.</p>

                    <ul class="list-group">
                          <a href="#" class="list-group-item">First List Item</a>
                          <a href="#" class="list-group-item active">Second List Item (Active></a>
                          <a href="#" class="list-group-item">Third List Item</a>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Disabled Item</h3>
                    <p>Use the <code>.disabled</code> class to indicate a disabled item.</p>

                    <ul class="list-group">
                          <a href="#" class="list-group-item">First List Item</a>
                          <a href="#" class="list-group-item disabled">Second List Item (Disabled></a>
                          <a href="#" class="list-group-item">Third List Item</a>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h3>Contextual Classes</h3>
                    <p>Contextual classes can be used to color list items.</p>
                    <p>The classes that can be used are: <code>.list-group-item-success</code>, <code>.list-group-item-info</code>, <code>.list-group-item-warning</code>, and <code>.list-group-item-danger</code>.</p>

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">First List Item</li>
                        <li class="list-group-item list-group-item-info">Second List Item</li>
                        <li class="list-group-item list-group-item-warning">Third List Item</li>
                        <li class="list-group-item list-group-item-danger">Fourth List Item</li>
                    </ul>
                </div>
            </div>

            <h3>Custom Content</h3>
            <p>List group item can contain complex HTML content.</p>
            <p>Bootstrap provides the classes <code>.list-group-item-heading</code> and <code>.list-group-item-text</code> which can be used for formatting.</p>

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">First List Group Item Heading</h4>
                    <p class="list-group-item-text">First List Group Item Text</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Second List Group Item Heading</h4>
                    <p class="list-group-item-text">Second List Group Item Text</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
                    <p class="list-group-item-text">Third List Group Item Text</p>
                </a>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://www.w3schools.com/lib/w3data.js"></script>
        <script>w3IncludeHTML();</script>
    </body>
</html>
