<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Typography</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
   </head>
    <body>
        <div class="container">
            <div w3-include-html="/nav.html"></div>
            <div class="page-header">
                <h1>Bootstrap Reference - Typography</h1>
            </div>

            <div class="page-header">
                <h2>Paragraph Elements</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Paragraph Element</h3>
                    <p>This paragraph uses <code>&lt;p&gt;</code> tags. Bootstrap's global default font-size is 14px, with a line-height of 1.428.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col-sm-6">
                    <h3>Small Class</h3>
                    <p class="small">This paragraph uses the <code>.small</code> class. It makes the text smaller.</p>
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>

            <h3>Lead Class</h3>
            <p class="lead">This paragraph uses the <code>.lead</code> class. It makes the text stand out.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <div class="page-header">
                <h2>Headings</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Normal Headings</h3>
                    <p><code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> elements or <code>.h1</code> to <code>.h6</code> styles:</p>
                    <h1>h1 Heading (36px)</h1>
                    <h2>h2 Heading (30px)</h2>
                    <h3>h3 Heading (24px)</h3>
                    <h4>h4 Heading (18px)</h4>
                    <h5>h5 Heading (14px)</h5>
                    <h6>h6 heading (12px)</h6>
                </div>
                <div class="col-sm-6">
                    <h3>Secondary Headings</h3>
                    <p>The <code>&lt;small&gt;</code> element is used to create a lighter, secondary text in any heading:</p>
                    <h1>h1 Heading <small>Small secondary text</small></h1>
                    <h2>h2 Heading <small>Small secondary text</small></h2>
                    <h3>h3 Heading <small>Small secondary text</small></h3>
                    <h4>h4 Heading <small>Small secondary text</small></h4>
                    <h5>h5 Heading <small>Small secondary text</small></h5>
                    <h6>h6 Heading <small>Small secondary text</small></h6>
                </div>
            </div>

            <div class="page-header">
                <h2>Text Alignment</h2>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h3 class="text-left">Text-left Class</h3>
                    <p class="text-left">This paragraph uses the <code>.text-left</code> class to make the text left-aligned.</p>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-center">Text-center Class</h3>
                    <p class="text-center">This paragraph uses the <code>.text-center</code> class to make the text center-aligned.</p>
                </div>
                 <div class="col-sm-4">
                    <h3 class="text-right">Text-right Class</h3>
                    <p class="text-right">This paragraph uses the <code>.text-right</code> class to make the text right-aligned.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Text-justify Class</h3>
                    <p class="text-justify">This paragraph uses the <code>.text-align</code> class. It makes the text justified. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-sm-6">
                    <h3>Text-nowrap Class</h3>
                    <p class="text-nowrap">This paragraph uses the <code>.text-nowrap</code> class. It prevents the line of text from wrapping. Lorem ipsum dolor...</p>
                </div>
            </div>

            <div class="page-header">
                <h2>Blockquotes</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Blockquote Element</h3>
                    <p>The <code>&lt;blockquote&gt;</code> element is used to present content from another source with an optional citation.</p>

                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <footer>Citation wrapped by a <code>&lt;footer&gt;</code> element inside <code>&lt;blockquote&gt;</code> tags</footer>
                    </blockquote>
                </div>
                <div class="col-sm-6">
                    <h3>Blockquote Reverse Class</h3>
                    <p>To right-align the quote, use the <code>.blockquote-reverse</code> class on a <code>&lt;blockquote&gt;</code> element.</p>

                    <blockquote class="blockquote-reverse">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                         <footer>Citation wrapped by a <code>&lt;footer&gt;</code> element inside <code>&lt;blockquote&gt;</code> tags</footer>
                    </blockquote>
                </div>
            </div>

            <div class="page-header">
                <h2>Capitalization</h2>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h3 class="text-lowercase">Text-lowercase Class</h3>
                    <p class="text-lowercase">This line of text uses the <code>.text-lowercase</code> class.</p>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-uppercase">Text-uppercase Class</h3>
                    <p class="text-uppercase">This line of text uses the <code>.text-uppercase</code> class.</p>
                </div>
                 <div class="col-sm-4">
                    <h3 class="text-capitalize">Text-capitalize Class</h3>
                    <p class="text-capitalize">This line of text uses the <code>.text-capitalize</code> class.</p>
                </div>
            </div>


            <div class="page-header">
                <h2>Text Formatting</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Strong (Bold) Element</h3>
                    <p>Use the <code>&lt;strong&gt;</code> element to <strong>indicate text that is bold for formatting purposes.</strong></p>
                </div>
                <div class="col-sm-6">
                    <h3>Emphasized (Italicized) Element</h3>
                    <p>Use the <code>&lt;em&gt;</code> element to <em>indicate text that is bold for formatting purposes.</em></p>
                </div>
                <div class="clearfix visible-md"></div>
                <div class="col-sm-6">
                    <h3>Underlined Element</h3>
                    <p>Use the <code>&lt;u&gt;</code> element to <u>indicate text that is underlined for formatting purposes.</u></p>
                </div>
                <div class="col-sm-6">
                    <h3>Strikethrough Element</h3>
                    <p>Use the <code>&lt;s&gt;</code> element to <s>indicate text that is no longer relevant for formatting purposes.</s></p>
                </div>
                <div class="col-sm-6">
                    <h3>Highlight Element</h3>
                    <p>Use the <code>&lt;mark&gt;</code> element to <mark>highlight text for formatting purposes.</mark></p>
                </div>
                <div class="col-sm-6">
                    <h3>Deleted Element</h3>
                    <p>Use the <code>&lt;del&gt;</code> element to <del>indicate text that has been deleted for editing purposes.</del></p>
                </div>
                <div class="col-sm-6">
                    <h3>Inserted Element</h3>
                    <p>Use the <code>&lt;ins&gt;</code> element to <ins>indicate text that has been inserted for editing purposes.</ins></p>
                </div>
                <div class="col-sm-6">
                    <h3>Abbreviation Element</h3>
                    <p>The <code>&lt;abbr&gt;</code> element is used to mark up an abbreviation or acronym:</p>
                    <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
                </div>
                <div class="col-sm-6">
                     <h3>Initialism Class</h3>
                    <p>The .initialism class displays the text inside an <code>&lt;abbr&gt;</code> element in a slightly smaller font size.</p>
                    <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948. (normal abbr)</p>
                    <p>The <abbr title="World Health Organization" class="initialism">WHO</abbr> was founded in 1948. (initialism abbr)</p>
                </div>
                <div class="col-sm-6">
                    <h3>Address</h3>
                    <p>Use the <code>&lt;address&gt;</code> element to present contact information:</p>
                    <address>
                        <strong>Jon Doe</strong><br>
                        Company Name<br>
                        Street Address<br>
                        City, State Zip
                    </address>
                </div>
            </div>

            <div class="page-header">
                <h2>Contextual Highlights</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Contextual Color Classes</h3>
                    <p>Use the contextual classes to provide meaning through colors:</p>
                    <p class="text-muted">This text is muted using the <code>.text-muted</code> class.</p>
                    <p class="text-primary">This text is important using the <code>.text-primary</code> class.</p>
                    <p class="text-success">This text indicates success using the <code>.text-success</code> class.</p>
                    <p class="text-info">This text represents some information using the <code>.text-info</code> class.</p>
                    <p class="text-warning">This text represents a warning using the <code>.text-warning</code> class.</p>
                    <p class="text-danger">This text represents danger using the <code>.text-danger</code> class.</p>
                </div>
                <div class="col-sm-6">
                    <h3>Contextual Background Classes</h3>
                    <p>Use the contextual background classes to provide "meaning through colors":</p>
                    <p class="bg-primary">This text indicates that it is important using the <code>.bg-primary</code> class.</p>
                    <p class="bg-success">This text indicates success using the <code>.bg-success</code> class.</p>
                    <p class="bg-info">This text represents some information using the <code>.bg-info</code> class..</p>
                    <p class="bg-warning">This text represents a warning using the <code>.bg-warning</code> class.</p>
                    <p class="bg-danger">This text represents danger using the <code>.bg-danger</code> class.</p>
                </div>
            </div>

            <div class="page-header">
                <h2>Lists</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Ordered List Element</h3>
                    <p>The <code>&lt;ol&gt;</code> class displays a list of items in numerical order:</p>

                    <ol>
                        <li>Coffee</li>
                        <li>Tea
                          <ul>
                            <li>Black tea</li>
                            <li>Green tea</li>
                          </ul>
                        </li>
                        <li>Milk</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <h3>Unordered List Element</h3>
                    <p>The <code>&lt;ul&gt;</code> class displays a list of items:</p>

                    <ul>
                        <li>Coffee</li>
                        <li>Tea
                          <ul>
                            <li>Black tea</li>
                            <li>Green tea</li>
                          </ul>
                        </li>
                        <li>Milk</li>
                    </ul>
                </div>

                <div class="clearfix visible-sm"></div>

                <div class="col-sm-6">
                    <h3>Unstyled List Class</h3>
                    <p>The <code>.list-unstyled</code> class removes the default list-style and left margin on list items (immediate children only):</p>

                    <ul class="list-unstyled">
                        <li>Coffee</li>
                        <li>Tea
                          <ul>
                            <li>Black tea</li>
                            <li>Green tea</li>
                          </ul>
                        </li>
                        <li>Milk</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3>Inline List Class</h3>
                    <p>The <code>.list-inline</code> class places all list items on a single line:</p>

                    <ul class="list-inline">
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                    </ul>
                </div>

                <div class="clearfix visible-sm"></div>
            </div>

            <div class="page-header">
                <h2>Description Lists</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Description List Element</h3>
                    <p>The <code>&lt;dl&gt;</code> element indicates a description list. <code>&lt;dt&gt;</code> tag shows terms. <code>&lt;dd&gt;</code> tag shows descriptions.</p>

                    <dl>
                        <dt>Coffee</dt>
                        <dd>- black hot drink</dd>
                        <dt>Milk</dt>
                        <dd>- white cold drink</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <h3>Horizontal Description List Class</h3>
                    <p>The <code>.dl-horizontal</code> class lines up the description list side-by-side when the browser window expands:</p>

                    <dl class="dl-horizontal">
                        <dt>Coffee</dt>
                        <dd>- black hot drink</dd>
                        <dt>Milk</dt>
                        <dd>- white cold drink</dd>
                    </dl>
                </div>
            </div>



            <div class="page-header">
                <h2>Code Elements</h2>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Keyboard Input Element</h3>
                    <p>To indicate input that is typically entered via the keyboard, use the <code>&lt;kbd&gt;</code> element.</p>
                    <p>Use <kbd>ctrl + p</kbd> to open the Print dialog box.</p>
                </div>
                <div class="col-sm-6">
                    <h3>Code Snippet Element</h3>
                    <p>Inline snippets of code <code>should be embedded in the &lt;code&gt; element.</code></p>
                </div>
                <div class="clearfix visible-sm visible-md visible-lg"></div>
                <div class="col-sm-6">
                    <h3>Sample Report Element</h3>
                    <p>The <code>&lt;samp&gt;</code> tag defines <samp>sample output from a computer program. This formatting can be done with CSS as well</samp></p>
                </div>
                <div class="col-sm-6">
                    <h3>Variable Element</h3>
                    <p>Variables should be displayed using in the <code>&lt;var&gt;</code> element: <var>x</var> = <var>a</var><var>b</var> + <var>y</var></p>
                </div>
                <div class="clearfix visible-sm visible-md visible-lg"></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Pre-formatted Text Element</h3>
                    <p>The <code>&lt;pre&gt;</code> element tells visual user agents that the enclosed text is "preformatted" (The whitespace in this element is important).</p>

                    <pre>
        Text in a pre element
           is displayed in a fixed-width
          font, and it preserves
        both      spaces and
                    line breaks
                    </pre>
                </div>
                <div class="col-sm-6">
                    <h3>Scrollable Pre-formatted Text Class</h3>
                    <p>The <code>.pre-scrollable</code> class makes a <code>&lt;pre&gt;</code> element scrollable once it's height is greater than 350px.</p>

                    <pre class="pre-scrollable">
    Text in a scrollable pre element
     is displayed
    in a fixed-width font,
     and it preserves
    both      spaces and
      line breaks
    Lorem ipsum dolor sit amet,
     consectetur adipiscing elit,
    sed do eiusmod tempor incididunt
     ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat. Duis aute irure
     dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat
     nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa
     qui officia deserunt mollit anim
    id est laborum
                    </pre>
                </div>
            </div>






        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://www.w3schools.com/lib/w3data.js"></script>
       <script>w3IncludeHTML();</script>
    </body>
</html>
